html {
    scroll-behavior: smooth;
    font-family: Trebuchet MS, sans-serif;
}

header {
    background-color: #20B2FF;
    color: #fff;
    height: 6.25em;
}

header div {
    display: inline;
}

.menu {
    position: relative;
    top: 2.1875em;
}

.menu__img {
    padding-left: 2.4em;
    position: relative;
    top: -0.8em;
}

.menu img {
    height: 3.7em;
}

.menu ul{
    display: inline;
    margin-left: 3.125em;
}

.menu li {
    display: inline;
    margin: 1em;
}

.menu ul a {
    font-size: 1.5625em;
    font-weight: 600;  
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

.menu ul a:hover {
    background-size: 100% 2px;
}

.tel {
    float: right;
    padding-top: 2.1875em;
    padding-right: 2.5em;
}

.tel img {
    width: 2.5em;
    position: relative;
    top: -0.4375em;
    left: 0.4375em;
}

.tel a {
    font-size: 1.5625em;
    font-weight: 600;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;

}

.tel a:after {
    display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #fff; /*задаём цвет линии*/
	content: "";
	transition: width 0.5s ease-out;
}

.tel a:hover {
    background-size: 100% 2px;
}





.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main__description {
    display: inline-block;
    margin-top: 190px;
    width: 50%;
}

.main__description h1{
    font-size: 45px;
    font-weight: 600;
    display: inline;
}

.main__description p {
    font-size: 25px;
    font-weight: 400;
    color: #00000088;
    line-height: 30px;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-top: 150px;
}

.main img {
    width: 40%;
    float: right;
    margin-top: 60px;
}
