html {
  scroll-behavior: smooth;
  font-family: Trebuchet MS, sans-serif;
}

h2 {
  font-size: 45px;
}


header {
  background: #20B2FF; 
  position: sticky;
  top: 0;
  z-index: 2; 
}

header .navbar div {
  display: inline;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}

header .navbar__img img {
  height: 60px;
  margin: 20px;
  margin-left: 40px;
}

header .navbar__tel {
  position: absolute;
  top: 35px;
  right: 45px;
  
}

header .navbar__tel img {
  position: absolute;
  width: 40px;
  top: -7px;
  right: 240px;
}

header .list {
  display: inline;
  position: absolute;
  top: 35px;
  left: 190px;
}

header .list__item {
  display: inline;
  margin: 15px;
}

.navbar a {
	position: relative;
	color: #fff; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
.navbar a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #fff; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.navbar a:hover:after,
.navbar a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}




.main {
  position: relative;
  top: 50px;
  height: 700px;
}

main .main__header { 
  font-weight: 600;
  font-size: 45px;
  position: relative;
  top: 140px;
  left: 100px;
  width: 600px;
}

main .main__description {
  color: #00000088;
  width: 900px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  word-spacing: 5px;
  letter-spacing: 2px;
  position: relative;
  top: 290px;
  left: 100px;
}

.main__city {
  position: absolute;
  right:  110px;
  top: 10px; 
}

.main__city img {
  height: 700px;
}




.service {
  height: 1000px;
}

.service div {
  display: table-cell;
}

.service__img img {
  position: relative;
  left: 120px;
  top: 140px;
  width: 500px;
  height: 710px;
}

.servis__block h2 {
  position: relative;
  top: 160px;
  right: -700px;
  margin-bottom: 30px;
}

.servis__block ul {
  position: relative;
  top: 170px;
  left: 400px;
}

.service__item {
  position: relative;
  left: 175px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

.sistem1 {
  background: url(/img/infIMG140.png) no-repeat;
  padding-top: 35px;
}

.sistem2 {
  background: url(/img/infIMG240.png) no-repeat;

}

.sistem3 {
  background: url(/img/infIMG340.png) no-repeat;
  margin-bottom: 0px;

}
.sistem4 {
  background: url(/img/coin40.png) no-repeat;
  padding-top: 50px;
}

.service__item h3 {
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 20px;
}

.service__item p {
  width: 600px;
  line-height: 22px;
  font-size: 17px;
  color: #00000088;
}




.car {
  display: table;
  position: relative;
}

.car__text {
  display: table-cell;
}

.text__h2  {
  text-align: center;
  width: 720px;
}

.text__h2 h2 {
  margin: 40px;
}

.text__h2 p {
  color: #00000088;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00000088;
  text-decoration-thickness: 3px;
  text-underline-offset: 20px;
  margin-bottom: 80px;
}

.text__options {
  font-size: 20px;
  position: relative;
  left: 105px;
  margin-bottom: 40px;
}

.text__options p {
  margin-bottom: 15px;
}

.text__description {
  font-size: 20px;
  width: 700px;
  position: relative;
  left: 105px;
  line-height: 30px;
}

.car img {
  position: relative;
  left: 400px;
  top: 100px;
  width: 600px;
}




footer {
  background-color: #20B2FF;
  position: relative;
  top: 150px;
  font-family: "TT Norms Pro", Arial, sans-serifserif;
}

.inf {
  padding: 30px;
}

.links {
  display: table-cell;
}

.links__number {
  font-size: 22px;
}

.links__number a {
	position: relative;
	color: #fff; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; 
  display: table;
  margin: 15px;/*убираем подчёркивание*/
}

.links__number a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #fff; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.links__number a:hover:after,
.links__number a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.links__sms a {
  position: relative;
  left: 15px;
}

.links__sms img {
  height: 30px;
  margin-right: 10px;
}

.inf__text {
  display: table-cell;
  position: relative;
  left: 1400px;
}

.inf__text p {
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin: 15px;
}